<nav class="navbar fixed-top navbar-light bg-light">
   <a class="navbar-brand" href="/discussions">Discussion Forum</a>
   <div class="row" style="float: right;">
   	   <div class="row mr-sm-4">
		   <a class="nav-link" href="/addDiscussion">Add Discussion</a>
		   <a class="nav-link" href="/profile">My Profile</a>
		   <a class="nav-link" href="/logout">Logout </a>
	   </div>
	   <!--<div>
		   <form class="form-inline" th:action="@{/searchFor}" method="post">
		    <input th:field="*{searchFor}" th:value="*{searchFor}" id="inputSearchFor" class="form-control mr-sm-2" type="text" placeholder="Search">
		    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
		  </form>
	  </div> -->
  </div>
</nav>