<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/add_discussion.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title> My Profile
    </title>
  </head>
  <body>
  	<div th:insert="fragments/user_navbar.html"> </div>
    <br>
    <br>
    <br>
    <div class="container">
	    <div class="row">
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row my-5" th:object="${user}">
	        <div class="row">
	          <div class="">	
	             <img th:src="|images/${user.userId}.jpg|" class="img-responsive" width="300" height="200">
	             <div class="container">
		             <form action="/profile" method="post" enctype="multipart/form-data">
						<h6>Change Profile Image</h6>
						<input id="button" type="file" name="files" accept="image/png, image/jpeg">
						<br>
						<input id="button" type="submit" value="Upload File"></input>
					</form>
				</div>
	          </div>
	          <div class="card-body">
	          	<form class="form-signin" th:action="@{/saveDetails}" method="post">
	          	<label for="name">Name</label>
	          	<input type="text" th:field="${user.name}" id="name" class="form-control" th:placeholder="${user.name}" required autofocus>
	          	<br>
	            <label for="email">Email</label>
	          	<input type="email" th:field="${user.email}" id="email" class="form-control" th:placeholder="${user.email}" disabled>
	          	<br>
	          	<input id="button" type="submit" value="Save"></input>
	          	<br>
	          	<br>
	          	<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
	          	</form>
	          </div>
	          <div class="container">
	          	<h6> Configure Posts</h6>
	          	<table class="table table-responsive-md">
		        	<thead class="thead-dark">
		            	<tr>
		                	<th>Subject</th>
		                	<th>View</th>
		                   	<th>Edit</th>
		                    <th>Delete</th>
		                </tr>
		            </thead>
					<tbody>
		            	<tr th:each="post: ${user.posts}">
		                	<td th:text="${post.subject}"></td>
		                	<td>
		                    	<button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"  th:attr='onclick=|window.location.href = "/post/${post.postId}";|' >View</button>
		                    </td>
		                    <td>
		                    	<button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"  th:attr='onclick=|window.location.href = "editPost?postId=${post.postId}";|' >Edit</button>
		                    </td>
		                    <td>
		                    	<button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"  th:attr='onclick=|window.location.href = "deletepost?postId=${post.postId}";|' >Delete</button>
		                    </td>
		                </tr>
					</tbody>
				</table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
</html>