<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/add_discussion.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Discussions</title>
  </head>
  <body>
    <div th:insert="fragments/no_user_navbar.html"> </div>
    <br>
    <br>
    <br>
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row my-5">
	          <div class="card-img-left d-none d-md-flex">
	             <!-- Background image for card set in CSS! -->
	          </div>
	          <div class="card-body">
	            <h5 class="card-title text-center">Register</h5>
	            <form class="form-signin" th:action="@{/signup}" th:object="${user}" method="post">
	              <div class="form-label-group">
	                <input type="text" th:field="*{name}" id="inputName" class="form-control" placeholder="Name" required autofocus>
	                <label for="inputName">Name</label>
	              </div>
	
	              <div class="form-label-group">
	                <input type="email" th:field="*{email}" id="inputEmail" class="form-control" placeholder="Email address" required>
	                <label for="inputEmail">Email address</label>
	              </div>
	              
	              
	              <div class="form-label-group">
	                <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" required>
	                <label for="inputPassword">Password</label>
	              </div>
	              
	              <!-- <div class="form-label-group">
	                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
	                <label for="inputConfirmPassword">Confirm password</label>
	              </div> -->
	
	              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
	              <div>
	              	<br>
	              	<span th:utext="${successMessage}"></span>
	              </div>
	              <div class="alert alert-danger alert-dismissible col-sm-12"
					th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
					<ul th:each="data : ${bindingResult.getAllErrors()}">
						<li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
					</ul>
				  </div>
	              <a class="d-block text-center mt-2 small" href="signin">Sign In</a>
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
  </body>
</html>